[Unit]
Description=NextEPC HSS Daemon
BindTo=mongodb.service
After=networking.service mongodb.service

[Service]
Type=simple

User=open5gc
Group=open5gc

RuntimeDirectory=nextepc-hssd
PIDFile=/home/wirelab/Downloads/nctu_5gc/install/lib/run/nextepc-hssd/pid

Restart=always
ExecStart=/home/wirelab/Downloads/nctu_5gc/install/bin/nextepc-hssd -f /home/wirelab/Downloads/nctu_5gc/install/etc/open5gc/hss.conf
RestartSec=2
RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target
